body{
    font-family: 'Oxygen', sans-serif;
    font-size: 14.5px;
    font-weight: 300;
    margin: 0;
}

.pageTopper{
    display: flex;
    justify-content: space-between;
    background-color: #022326;
    padding: .75rem 1.5rem;
}

/*Header CSS*/
header {
    display: flex;
    justify-content: center;
    padding: 0rem;
    background-color: #022326;
}

header img{
    height: 1.5rem;
}

/*Nav CSS*/
nav ul{
    font-size: 1.1rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #022326;
}

li a {
    padding: 2rem 2.5rem;
    text-decoration: none;
    color: white;
}

/*Main CSS*/
main{
    padding: 0 1.5rem;
}

/*Footer CSS*/

