body{
    font-family: 'Oxygen', sans-serif;
    font-size: 14.5px;
    font-weight: 300;
    margin: 0;
}

/*Header CSS*/
header {
    display: flex;
    justify-content: center;
    padding: .5rem;
    background-color: #022326;
}

header img{
    height: 4rem;
}

/*Nav CSS*/
nav ul{
    font-size: 1.1rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1.25rem;
    background-color: #022326;
}

li a {
    padding: 2rem 2.5rem;
    text-decoration: none;
    color: white;
}

/*Main CSS*/


/*Footer CSS*/

